@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800;
  @apply text-gray-800;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #2b1d60;
  background-image: url("/bg1.jpg");
}
